.container {
  height: 450px;
  background-color: var(--bgSoft);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.title {
  font-weight: 200;
  color: var(--textSoft);
  margin-bottom: 20px;
}
